# Python
.venv/
__pycache__/
*.pyc

# Environment / secrets
.env
**/.env

# Airflow
airflow/config/
airflow/logs/

# dbt
**/target/
**/dbt_packages/
**/logs/
**/profiles.yml

# Airflow config
**/airflow.cfg